*{
	font-family: sans-serif;
	color: #6a6a6a;

}


.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 1100px;
	min-width: 500px;
}

h2{
	margin-left: 10px;
}

.header div{
	margin-right: 20px;
}
.pic{
	overflow: hidden;
}
.vac{
	width: 200px;
}

.price{
	font-weight: bold;
	font-size: 1.1em;
}

.rating{
	font-size: 0.8em;
	margin-top: 7px;
}

.description{
	margin-top: 7px;
}

.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
	min-width: 500px;
	margin: auto;
}


.stars{
	color: #00a699;
}

.blank{
	height: 0px;
	width: 200px;
}