*{
	font-family: sans-serif;
}

.content{
	display: flex;
	justify-content: space-around;
	max-width: 1100px;
	min-width: 500px;
	margin: auto;
}

.techno{
	width: 230px;;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-right: 5px;
	margin-left: 5px;
}

.logo{
}
.name{
	color: #5dc18e;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 15px;
}

.description{
	color: #444444;
}